*{
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bebas-neue-regular{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.navbar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav_logo{
    height: 100px;
    width: 10%;
    display: flex;
    align-items: center;
}
.logo{
    background-image: url(Bolt1.jpeg);
    background-size: cover;
    height: 65px;
    width: 65px;
    border-radius: 50%;
}
.name{
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    width: 30%;
    margin-left: 50px;   
}
.list{
    text-decoration: none;
    display: inline;
    margin: 0px 50px 0px 50px;
    font-size: 18px;
    color: white;
}
li{
    list-style-type: none;
    display: inline;
}
.bar_items{
    width: 60%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a:hover{
    color: #FF3355
}
.bac_img{
    height: 300px;
    width: 100%;
    background-image: url(workout5.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img{
    background-color: rgba(255, 255, 255, 0.307);
    backdrop-filter: blur(20px);
    font-size: 5rem;
    height: 95px;
    width: 500px;
    text-align: center;
    border-radius: 30px;
}
.workouts{
    height: 500px;
    width: 100%;
    display: flex;
    background-color: #A7A7A7;
    align-items: center;
    justify-content: space-evenly;
}
.work{
    height: 450px;
    width: 400px;
    background-color: #BFBFBF;
    border-radius: 10px;
    border: 2px solid black;
}
.workout1, .workout2, .workout3{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.workout1_img{
    height: 250px;
    width: 250px;
    background-image: url(chest.png);
    background-size: cover;
}
.workout_name{
    font-size: 4rem;
}
button{
    background-color: lightblue;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
}
button:hover{
    background-color: #FF3355;
}
.workout2_img{
    height: 250px;
    width: 250px;
    background-image: url(back.png);
    background-size: cover;
}
.workout3_img{
    height: 250px;
    width: 250px;
    background-image: url(shoulder.png);
    background-size: cover;
}
.foot{
    color: white;
    text-align: center;
    height: 50px;
    width: 100%;
    background-color: black;
    padding-top: 10px;
}